.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.photo {
    border-radius: 45px;
    margin-right: 20px;
    width: 90px;
    height: 90px;
}
.form-control {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
}
.title {
    font-weight: 700;
}
.btn-more {
    margin-top:10px;
    width: 100%
}
.label {
    font-weight: normal;
}
  