<div class="bg-light collapse" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-dark">MNHR์ ๋ํ์ฌ</h4>
                <p class="text-muted">My New Human Revolution<br>
                    ๋๋ง์ ์ ์ธ๊ฐํ๋ช
                </p>
                <p class="text-muted">๋งค์ผ๋งค์ผ ์ฑ์ ๋จ ํ ํ์ด์ง๋ผ๋ ์ฝ๊ณ ์๊ฐ๊ณผ ์ค์ฒ๊ธฐ๋ฅผ ์์ฑํด ๊ณต์ํด๋ด์๋ค. ๐๐</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-dark">๋ฌธ์</h4>
                <ul class="list-unstyled">
                    <li class="text-dark"><i class="fas fa-mobile-alt"></i> ์ต์ฐ์ 010-8914-4601</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-light bg-light shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <i class="fas fa-book"></i>&nbsp;
            <strong>MNHR</strong>
        </a>
        <div class="d-flex justify-content-end align-items-center">
            <% if(penName !== undefined) { %>
            <div class="avatar dropdown mr-2">
                <a data-toggle="dropdown" href="#">
                    <% if(avatar !== undefined) { %>
                    <img src="/images/profile_none.png" alt="">
                    <%} else { %>
                    <img src="/images/<%= avatar %>" alt="">
                    <% } %>
                </a>
                <b class="caret"></b>
                <ul class="dropdown-menu" role="menu">
                    <h6 class="dropdown-header"><%= penName%></h6>
                    <div class="dropdown-divider"></div>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">๋ด ์๋ณด</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-3" href="/logout">๋ก๊ทธ์์</a></li>

                </ul>
            </div>
            <%}  else { %>
            <a class="btn btn-sm btn-outline-secondary mr-2 p-2" href="/auth/login">๋ก๊ทธ์ธ</a>
            <% } %>
            <!--  -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>