<div class="bg-light collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-dark">MNHR에 대하여</h4>
                    <p class="text-muted">My New Human Revolution<br>
                        나만의 신 인간혁명
                    </p>
                    <p class="text-muted">매일매일 책을 단 한 페이지라도 읽고 소감과 실천기를 작성해 공유해봅시다. 📚📝</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-dark">문의</h4>
                    <ul class="list-unstyled">
                        <li class="text-dark"><i class="fas fa-mobile-alt"></i> 최연정 010-8914-4601</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light bg-light shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <i class="fas fa-book"></i>&nbsp;
                <strong>MNHR</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>